{% extends "header.html" %}
{% block content %}
<img src="/static/images/theme/pokemonlogo.png" />
<h2>Fans Website</h2>

    <div class="pokonami">

        <i class="sprite ash">
            <i></i>
            <quote class="exclamation"></quote>
        </i>
        
        <i class="sprite pokemon pikachu">
            <i></i>
            <quote class="love"></quote>
        </i>
            
        <i class="sprite pokemon togepi move">
            <i></i>
            <quote class="love"></quote>
        </i>

        <div class="pokemons">
        </div>

    </div>

    <audio id="pallet" src="http://files.simey.me/pokonami/pallet.mp3" autoplay="true" reload="auto"></audio>
    <audio id="battle" src="http://files.simey.me/pokonami/battle.mp3" preload="auto"></audio>
  
    <script  src="js/index.js"></script>

<div class="container">
  <div class="row">

         <div id="custom-search-input">
                          <div class="input-group col-md-12">
                              <input type="text" class="  search-query form-control" placeholder="Search" />
                              <span class="input-group-btn">
                                  <button class="btn btn-danger" type="button">
                                      <span class=" glyphicon glyphicon-search"></span>
                                  </button>
                              </span>
                          </div>
                      </div>
</div>
  <h3>Welcome to the Pokeman Fan Website</h3>
  <p>This website is for fans of ...
  <p>More info here....</p>
  <div class="row">
  <div class="col-sm-2" style="background-color:lavender;">filter</div>
  <div class="col-sm-10" style="background-color:lavenderblush;">display</div>
</div>
</div>

{% endblock %}}
