{% extends "header.html" %}
{% block content %}
<head>

 <link rel="stylesheet" type="text/css" href="/static/css/format.css">
 <link rel="stylesheet" href="/static/css/anim_style.css">
 <style>
html, body { 
  min-height: 100%; 
}
body {
  background: #fee8b7;
  background-image: -webkit-radial-gradient(top, circle cover, #fff7e6, #fdd681 80%);
  background-image: -moz-radial-gradient(top, circle cover, #fff7e6, #fdd681 80%);
  background-image: -o-radial-gradient(top, circle cover, #fff7e6, #fdd681 80%);
  background-image: radial-gradient(top, circle cover, #fff7e6, #fdd681 80%);
}
    </style>
</head>
<header class="animation">

<img class="logo" src="/static/images/theme/pokemonlogo.png"/>
<h2>Fans Website</h2>

    <div class="pokonami">

        <i class="sprite ash">
            <i></i>
            <quote class="exclamation"></quote>
        </i>
        
        <i class="sprite pokemon pikachu">
            <i></i>
            <quote class="love"></quote>
        </i>
            
        <i class="sprite pokemon togepi move">
            <i></i>
            <quote class="love"></quote>
        </i>

        <div class="pokemons">
        </div>

    </div>

    <audio id="pallet" src="http://files.simey.me/pokonami/pallet.mp3" autoplay="true" reload="auto"></audio>
    <audio id="battle" src="http://files.simey.me/pokonami/battle.mp3" preload="auto"></audio>
  
    <script  src="../static/js/index.js"></script>
</header>

<div class="container">
  <div id="custom-search-input">

                            <form action="{{ url_for('search') }}" method=post>

                              <div class="input-group">
                                  <input type="text" name="search" class="search-query form-control" placeholder="Search" />
                                 <div class="input-group-btn">
                                    <button class="btn btn-danger" type="submit">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                              </div>
                            </form>
    </div>
  <section>
  <h3>Welcome to the Pokeman Fan Website</h3>
  <p>This website is for fans of ...
  <p>More info here....</p>
  </section>
  <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
  <script src='/static/js/jquery-1.11.1.min.js'></script>
  <div class="row">
	<ul class="products">
    {% for pokemon in pokemonfans  %}
    <li style="color:white">
      <img class="gallery" src="static/images/collection/{{pokemon.image|urlencode()}}" alt={{ pokemon.title}} width="200" height="200">
          <h4>{{ pokemon.title}}</h4>
           <p>
             Status: {{ pokemon.status }}
             
         </p>
	 <p>
             Fakemon: {{ pokemon.fakemon }}

         </p>
         <p>
	   Mega Evolution: {{ pokemon.mega_evolution }}
         </p>
         <p>
	    First Release Date: {{ pokemon.first_release }}

         </p>
      </li>
    {% else %}
      <em>Unbelievable.  No pokemonfan to display</em>
    {% endfor %}
    </ul>

 </div>
</body>
</html>
</div>
</div>

{% endblock %}}
