{% extends "header.html" %}
{% block content %}

<header class="animation">

<img class="logo" src="/static/images/theme/pokemonlogo.png"/>
<h2>Fans Website</h2>

    <div class="pokonami">

        <i class="sprite ash">
            <i></i>
            <quote class="exclamation"></quote>
        </i>
        
        <i class="sprite pokemon pikachu">
            <i></i>
            <quote class="love"></quote>
        </i>
            
        <i class="sprite pokemon togepi move">
            <i></i>
            <quote class="love"></quote>
        </i>

        <div class="pokemons">
        </div>

    </div>

    <audio id="pallet" src="http://files.simey.me/pokonami/pallet.mp3" autoplay="true" reload="auto"></audio>
    <audio id="battle" src="http://files.simey.me/pokonami/battle.mp3" preload="auto"></audio>
  
    <script  src="../static/js/index.js"></script>
</header>

<div class="container">
  <div id="custom-search-input">

                            <form action="{{ url_for('search') }}" method=post>

                              <div class="input-group">
                                  <input type="text" name="search" class="search-query form-control" placeholder="Search" />
                                 <div class="input-group-btn">
                                    <button class="btn btn-danger" type="submit">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                              </div>
                            </form>
    </div>
  
  <h3>Welcome to the Pokeman Fan Website</h3>
  <p>This website is for fans of ...
  <p>More info here....</p>
  <div class="row">
    <ul class="products">
    {% for pokemon in pokemonstore %}
    <li style="color:white">
      <img class="gallery" src="static/images/collection/{{pokemon[5]|urlencode()}}" alt={{ pokemon[0]}} width="200" height="200">
          <h4>{{ pokemon[0]}}</h4>
           <p>
             Status: {{ pokemon[1] }}
             
         </p>
	 <p>
             Fakemon: {{ pokemon[2] }}

         </p>
         <p>
	   Mega Evolution: {{ pokemon[3] }}
         </p>
         <p>
	    First Release Date: {{ pokemon[4] }}

         </p>
      </li>
    {% else %}
      <em>Unbelievable.  No pokefan to display</em>
    {% endfor %}
    </ul>

 </div>
</body>
</html>
</div>
</div>

{% endblock %}}
